.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #514b4b;
    color: #fff;
  }
   
  .navbar-buttons {
    display: flex;
    gap: 10px;
  }
   
  .navbar-button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
   
  .navbar-button:hover {
    background-color: #777;
  }